html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.game__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-6 {
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  border: 1px solid tomato;
  padding: 20px;
}

.col-12 {
  width: 100%;
  flex-basis: 100%;
}

.destination {
  height: 300px;
  font-size: 40px;
  text-align: center;
  border: 2px solid teal;
}

.rectangle__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.rectangle--text {
  color: white;
}
